body
  font: 100% Helvetica, sans-serif
  margin: 20px
  padding: 10px

  .content
    margin-top: 10px
    margin-bottom: auto
    margin-left: 30px
    margin-right: auto
    height: auto
    width: auto

    .form
      float: left
      margin: auto

    .result
      float: left
      margin: auto

    
    .form_block
      margin: 1px

      #input
        margin: 2px
        padding: 2px
        height: 100px
        width: 450px
    
      #button
        margin: 2px
        padding: 2px
        float: right
  

     