<!DOCTYPE html>
<html>
<head>
    <title>Switch translate</title>
    <link media="all">
    <link rel="stylesheet" type="text/css" href="static/reset.min.css">
    <link rel="stylesheet" type="text/css" href="static/base.css">
</head>

<body>
    <div class="content">
	<div class="form">
	    <form action=''  method='post'>
		<div class="form_block">
		    <textarea id="input"  name="text" placeholder="enter text here"></textarea>
		</div>
		
		<div class="form_block">
		    <button id="button" type="submit">Give me correct text</button>
		</div>
	    </form>
	</div>

	<div class="result">
	    {{ result }}
	</div>
    </div>

</body>

<script scr="static/jquery.js"></script>
<script src="static/script.js"></script>

</html>
